/* ### Primary

- Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%)

### Neutral

- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%)

Body 
- Font size: 15px
- Weights: 200, 400, 600 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 140rem;
  font-size: 1.6rem;
  line-height: 1;
  color: hsl(234, 12%, 34%);
  margin: 0 auto;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-section {
  padding: 9.6rem;
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 3.2rem;
  text-align: center;
}
.firstLine {
  font-weight: 200;
}
.boldLine {
  font-weight: 600;
}
.text {
  font-size: 1.6rem;
  color: hsl(229, 6%, 66%);
  font-weight: 200;

  margin-top: 1.2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  gap: 1.2rem;

  padding: 2.4rem 2.8rem;
  border-radius: 11px;
  overflow: hidden;
  align-self: center;
  width: 36rem;
  box-shadow: 0 1px 10px 3px hsla(0, 0%, 20%, 0.08);
  /* x y B S C */
}

.card-headig {
  font-size: 2rem;
  font-weight: 600;
}
.card-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: hsl(229, 6%, 66%);
}

.icon {
  margin-top: 2.4rem;
  align-self: self-end;
}

.supervisor-card {
  border-top: solid 4px hsl(180, 62%, 55%);
  grid-row: span 2;
}

.team-card {
  border-top: solid 4px hsl(0, 78%, 62%);
}
.karma-card {
  border-top: solid 4px hsl(34, 97%, 64%);
}
.calculator-card {
  border-top: solid 4px hsl(212, 86%, 64%);
  grid-row: span 2;
}
/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
